body {
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    background: #2196f3;
    font: 100%/1.4 system-ui, sans-serif;
    line-height: 1.4;
}

.area {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 324px;
    box-shadow: 0 0.66rem 2.4rem #0d47a1;
    position: relative;
    overflow: visible;
}

h2 {
    line-height: 1.24;
    margin: 1rem 0 1rem 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.menu button {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu button svg {
    height: 22px;
    width: 22px;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.hide {
    position: absolute;
    top: -999%;
}