* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: auto;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background: rgb(58, 73, 53);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(217, 237, 170);
    padding: 80px;
}

.content p {
    max-width: 640px;
}