@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(130, 130, 130);
}

.container {
    height: 60%;
    min-height: 600px;
    width: 60%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background: rgb(220, 220, 220);
}

.container button {
    outline: none;
    border: none;
    border-top: 4px solid rgb(0, 0, 0);
    padding: 8px;
    background: rgb(0, 0, 0);
    color: white;
    font-family: inherit;
    font-size: 18px;
    cursor: pointer;
}

.container button:hover {
    background: rgb(68, 103, 167);
}

.container p {font-size: 20px;}
.container h1 {font-weight: 800;}